.register {
}

.register__form {
    background-color: var(--color-card-bg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.register__title {
    font-size: 32px;
    text-align: center;
}
.register__passwordWrapper {
    position: relative;
}
.register__input {
    font-family: var(--font-main);
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--color-border);
    outline: none;
    color: var(--color-primary);
    font-size: 16px;
    caret-color: var(--color-primary);
    letter-spacing: 1.2px;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    width: 100%;
}
.register__passwordWrapper .register__input {
    padding-right: 45px;
}
.register__input::selection {
    background-color: var(--color-header-bg);
}
.register__input:focus {
    border-color: var(--color-button);
}
.register__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-card-bg) inset !important;
    -webkit-text-fill-color: var(--color-primary) !important;
    border: 1px solid var(--color-button) !important;
    border-radius: 0 !important;
}

.register__button {
    background-color: var(--color-button);
    padding: 10px;
    color: var(--color-primary);
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}
.register__togglePassword {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--color-border);
    position: absolute;
    right: 12px;
    bottom: 9px;
    width: 24px;
    height: 24px;
}

@media (hover: hover) {
    .register__button:hover {
        background-color: var(--color-btn-hover);
    }
}

.register__button:disabled {
    background-color: var(--color-placeholder);
    cursor: not-allowed;
}
.register__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.register__link {
    color: var(--color-button);
    /*  transition: border-bottom 0.3s;
    border-bottom: 1px solid transparent; */
}
.register__link:hover {
    text-decoration: underline;
    /*  border-bottom: 1px solid currentColor; */
}
.register__error {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: -15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}
