.header {
    background-color: var(--color-header-bg);
    box-shadow: 0 4px 10px var(--color-shadow);
    min-height: var(--header-height);
    margin-bottom: 10px;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    min-height: var(--header-height);
    padding: 0 15px;
}
.header__logo:hover {
    color: #fff;
    cursor: pointer;
}

.header__user {
    padding: 0 15px;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.header__user:hover {
    background-color: var(--color-hover);
}
.header__user img {
    width: 60px;
}
.header__user span {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.burger {
    display: none;
}

.menu {
}

.menu__list {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.menu__item {
}

.menu__link {
    transition-duration: 0.3s;
    padding: 0 15px;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
}

.menu__link:hover {
    background-color: var(--color-hover);
    color: #fff;
}
.menu__linkActive {
    color: var(--color-secondary);
}
/***************************************************************************/
@media (max-width: 768px) {
    .header__body {
        position: fixed;
        z-index: 2;
        background-color: aqua;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-header-bg);
        padding: 0 15px;
    }

    .burger {
        position: relative;
        z-index: 20;
        display: block;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .burger span,
    .burger::before,
    .burger::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition-duration: 0.3s;
        background-color: var(--color-primary);
    }
    .burger::before {
        content: "";
        top: 0;
    }
    .burger::after {
        content: "";
        bottom: 0;
    }
    .burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    /********************************крестик иконки меню*********************************/
    .burger._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .burger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color: var(--color-secondary);
    }
    .burger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        background-color: var(--color-secondary);
    }
    /********************************крестик иконки меню*********************************/

    .header__logo {
        z-index: 3;
        position: relative;
    }
    .menu {
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-body-bg);
        padding: 80px 20px 20px 20px;
        transition-duration: 0.3s;
        overflow: auto;
    }
    .menu._active {
        top: 0;
        z-index: 2; /* ************************** */
    }

    .menu::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        min-height: var(--header-height);
        background-color: var(--color-header-bg);
        z-index: 2;
    }

    .menu__list {
        flex-direction: column;
        font-size: 22px;
    }
}

/***************************************************************/
