.popular {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.popular__left {
}
.popular__right {
    display: grid;
    gap: 10px;
}
.post__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular__middle {
}
.popular__smallPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.popular__small {
}
.post {
    /*  border: 1px solid red; */
}

@media (max-width: 768px) {
    .popular {
        grid-template-columns: 1fr;
    }

    .popular__right {
        grid-template-columns: 1fr;
    }

    .popular__smallPosts {
        grid-template-columns: 1fr;
    }
    .post__img {
        height: 300px;
    }
}
